<settings>
    	<setting propertyKey="@Properties.appVersion" title="@Strings.app_version_title">
        	<settingConfig type="alphaNumeric" readonly="true" />
    	</setting>
    
    <setting propertyKey="@Properties.tM1" title="@Strings.first_metric_label">
        <settingConfig type="list">
            <listEntry value="0">@Strings.impact_gs_label</listEntry>
            <listEntry value="1">@Strings.braking_gs_label</listEntry>
            <listEntry value="2">@Strings.fs_type_label</listEntry>
            <listEntry value="3">@Strings.pronation_label</listEntry>
            <listEntry value="4">@Strings.flight_ratio_label</listEntry>
            <listEntry value="5">@Strings.contact_time_label</listEntry>
            <listEntry value="6">@Strings.power_label</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.tM2" title="@Strings.second_metric_label">
        <settingConfig type="list">
            <listEntry value="0">@Strings.impact_gs_label</listEntry>
            <listEntry value="1">@Strings.braking_gs_label</listEntry>
            <listEntry value="2">@Strings.fs_type_label</listEntry>
            <listEntry value="3">@Strings.pronation_label</listEntry>
            <listEntry value="4">@Strings.flight_ratio_label</listEntry>
            <listEntry value="5">@Strings.contact_time_label</listEntry>
            <listEntry value="6">@Strings.power_label</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.tM3" title="@Strings.third_metric_label">
        <settingConfig type="list">
            <listEntry value="0">@Strings.impact_gs_label</listEntry>
            <listEntry value="1">@Strings.braking_gs_label</listEntry>
            <listEntry value="2">@Strings.fs_type_label</listEntry>
            <listEntry value="3">@Strings.pronation_label</listEntry>
            <listEntry value="4">@Strings.flight_ratio_label</listEntry>
            <listEntry value="5">@Strings.contact_time_label</listEntry>
            <listEntry value="6">@Strings.power_label</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.tM4" title="@Strings.fourth_metric_label">
        <settingConfig type="list">
            <listEntry value="0">@Strings.impact_gs_label</listEntry>
            <listEntry value="1">@Strings.braking_gs_label</listEntry>
            <listEntry value="2">@Strings.fs_type_label</listEntry>
            <listEntry value="3">@Strings.pronation_label</listEntry>
            <listEntry value="4">@Strings.flight_ratio_label</listEntry>
            <listEntry value="5">@Strings.contact_time_label</listEntry>
            <listEntry value="6">@Strings.power_label</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.visibleMetrics" title="@Strings.visibleMetrics">
        <settingConfig type="numeric" min="1" max="4"/>
    </setting>

    
    <setting propertyKey="@Properties.antRate" title="@Strings.antRate">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Hz4</listEntry>
            <listEntry value="1">@Strings.Hz8</listEntry>
            <listEntry value="2">@Strings.Hz16</listEntry>
        </settingConfig>
    </setting>    
    
</settings>
